In [125]:
import numpy as np
import pandas as pd
from sklearn import model_selection

In [126]:
data=pd.read_csv('/home/aman/Downloads/indians.csv')

print(data.shape)
data.head()

(767, 9)

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [127]:
#np.set_printoptions(precision=4,threshold=1000,linewidth=150)
#np.set_printoptions(suppress=True)  #to get array without inform of e
array=data.values
X=array[:,0:8]
Y=array[:,8]
X
#X = np.arange(20).reshape((4,5))
#np.savetxt(sys.stdout, X, '%5.2f')

array([[  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       [  1.   ,  89.   ,  66.   , ...,  28.1  ,   0.167,  21.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [128]:
from sklearn.ensemble import BaggingClassifier

In [129]:
from sklearn.tree import DecisionTreeClassifier

In [119]:
#from sklearn.model_selection import KFold
seed=7

In [120]:
kfold = model_selection.KFold(n_splits=10, random_state=seed)

In [121]:
cart=DecisionTreeClassifier()

In [122]:
num_trees=100

In [123]:
model=BaggingClassifier(base_estimator=cart,n_estimators=num_trees,random_state=seed)

In [124]:
results=model_selection.cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.770522898154477